.App {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0
}

.Inputs {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(192, 255, 181);
    box-shadow: 2px;


}

.Inputs input {
    width: 200px;
    height: 23px;
    padding-left: 3px;
    margin: 5px;
}

.title {
    color: rgb(47, 46, 46)
}

.Inputs button {
    border: none;
    width: 170px;
    height: 23px;
    border-radius: 3px;
    padding-left: 3px;
    margin: 5px;
    margin-top: 7px;
    
    
}

.Inputs button:hover {
    cursor: pointer
}

.friendContainer {
    display: flex;
    flex-direction: row;
    margin: 10px
}

.friendContainer button {
    width: 100px;
    height: 60px;
    border: 2px solid black;
    margin-top: 10px;
    background-color: antiquewhite;
    margin-left:5px;
    font-family: sans-serif;
}

.listOfFriends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.friend {
    width: 300px;
    height: 60px;
    background-color: rgb(254, 254, 173);
    font-family: sans-serif;
    display: flex;
    margin: 10px;
}

.friend h2 {
    margin-left: 5px;
    color: rgb(47, 46, 46)
}

.friend h4 {
    margin-left: 5px;
    color: rgb(47, 46, 46);
}


